AZURE_EMAIL=azure-mail
AZURE_CONNECTION_STRING=endpoint=https://xxxxxxx.communication.azure.com/;accesskey=xxxxx
MAIL_SERVER_SECRET=xxxxx
VITE_PUBLIC_REOWN_KEY=...
PUBLIC_VAULT_CONTRACT_ADDRESS=...

## Fallback if not set in the repo-root .env
PUBLIC_API_URL=http://localhost:3000