POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=lemipay

## ON DEVELOPMENT USE:
## DATABASE_URL=postgres://mateo:mateo@localhost:5432/lemipay
# FOR DOCKER USE:
DATABASE_URL=postgres://mateo:mateo@db:5432/lemipay

PORT_SERVER=3000
PORT_CLIENT=5173

JWT_SECRET=cabezazo al teclado