# =========================
# 🦀 RUST
# =========================
/target
**/*.rs.bk
Cargo.lock

# Si es binario/app (no lib), podés COMMITEAR Cargo.lock
# Cargo.lock

# =========================
# 🔐 ENV / SECRETS
# =========================
.env
.env.*
!.env.example

# =========================
# 🐳 DOCKER
# =========================
docker-data
*.log

# =========================
# 🖥️ OS
# =========================
.DS_Store
Thumbs.db

# =========================
# 🧠 IDEs
# =========================
.vscode/
.idea/

# =========================
# 🧪 MISC
# =========================
*.tmp
*.swp